@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0b0f0d;
  --foreground: #e6ebe4;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
