@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0c1210;
  --foreground: #e8f0eb;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
